body {
    font-family: 'Staatliches', cursive;
    color: rgb(61, 64, 207);
}

circle:hover
  {
    fill:rgb(32, 32, 105);
  }

.city-count{
    font-size: 25px;
    margin-left: 10px;
}

rect:hover
  {
    fill:rgb(32, 32, 105);
  }